<VirtualHost *:80>
	ServerName {{item.datos.nameserver}}
	redirect 301 /directorio /nuevodirectorio
	ServerAdmin webmaster@localhost
	DocumentRoot {{item.datos.documentroot}}
	ErrorLog ${APACHE_LOG_DIR}/{{item.datos.errorlog}}.log
	CustomLog ${APACHE_LOG_DIR}/{{item.datos.accesslog}}.log combined

</VirtualHost>
